<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student</title>
  </head>
  <body>
    <h1>Student</h1>
    <a href="/student/add">Add Student</a>
    <br> <br>
    <table border="2">
      <tr>
        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>email</th>
        <th>Option</th>
      </tr>
      <%dataStudent.forEach(data=>{%>
        <tr>
          <th><%=data.id%></th>
          <th><%=data.first_name%></th>
          <th><%=data.las_name%></th>
          <th><%=data.email%></th>
          <th><a href="/student/edit/<%=data.id%>">Edit</a>
          <a href="/student/delete/<%=data.id%>">Delete</a> </th>
        
        </tr>
      <%})%>
    </table>
    <br><br>

  </body>
</html>
